<option value="username" <%=(sort.replace('-', '' )==="username" ) ? 'selected' : '' %>>إسم المستخدم</option>
<option value="role" <%=(sort.replace('-', '' )==="role" ) ? 'selected' : '' %>>الدور الوظيفي</option>