<option value="name" <%=(sort.replace('-', '' )==="name" ) ? 'selected' : '' %>>الإسم</option>
<option value="type" <%=(sort.replace('-', '' )==="type" ) ? 'selected' : '' %>>النوع</option>
<option value="salary" <%=(sort.replace('-', '' )==="salary" ) ? 'selected' : '' %>>المرتب الأسبوعي</option>