<header>
  <%- include('side-bar') %>

  <nav dir="ltr" id="main-navbar" class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
      <div class="logo"><%- include("logo", {bottomColor: '#003f58' , topColor: '#5fd3ff' }) %></div>
    </div>
  </nav>
</header>