<div class="container-xl mt-5">
  <section>
    <h1 class="text-center fs-2">المرتبات</h1>
    <div class="row">
      <form action="/salary" method="post" id="week-salary-form" class="col">
        <input type="date" class="form-control px-4 not-tody" name="from" id="week-from" hidden>
        <input type="date" class="form-control px-4 not-tody" name="to" id="week-to" hidden>
        <input type="submit" class="btn btn-save" value="حساب مرتبات هذا الأسبوع">
      </form>
    </div>
  </section>

  <section class="mt-5">
    <h2 class="fs-3"></h2>
    <div class="row">

    </div>

</div>