<td scope="col">
  <a href="/products?priceType=objectid:<%= dataItem._id.toString() %>">
    <%= (dataItem.name) ? dataItem.name : 'لايوجد' %>
  </a>
</td>
<td scope="col">
  <%
    dataItem.departmentsPrice.forEach(department=> { 
      if(department.price > 0) {
  %>
    <div class="my-3"><strong class="mx-2"><%= department.department.name %>:</strong> <kbd><%= department.price %></kbd></div>
  <% }}); %>
</td>