<div class="modal fade" id="salary-modal" tabindex="-1" aria-labelledby="salary-modal-label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="salary-modal-label">حساب المرتبات</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/salary" method="post" id="salary-form">
          <%- include('../inputs-fields/update/input', {id: '', value: salaryForm.from, name: 'from' , type: 'date' , label: 'من'}) %>
          <%- include('../inputs-fields/update/input', {id: '', value: salaryForm.to, name: 'to' , type: 'date' , label: 'إلى'}) %>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary close" data-bs-dismiss="modal">إغلاق</button>
        <button type="button" class="btn btn-save get-salary">حساب</button>
      </div>
    </div>
  </div>
</div>