<td>
  <%= (dataItem.worker && dataItem.worker.name) ? dataItem.worker.name : "لا يوجد" %>
</td>
<td>
  <%= (dataItem.arabicDate) ? dataItem.arabicDate : 'لايوجد' %>
</td>
<td>
  <%= (dataItem.price) ? dataItem.price : 'لايوجد' %>
</td>