<td scope="col">
  <a href="/production?date=daterange:<%= salaryForm.from %>,<%= salaryForm.to %>&product=objectid:<%= dataItem._id.toString() %>">
    <%= (dataItem.name) ? dataItem.name : 'لايوجد' %>
  </a>
  
</td>