.form {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 3em 2em;
  background-color: #000217;
  border-radius: 25px;
  transition: 0.4s ease-in-out;
  margin: 4rem auto;
}

.form h1 {
  text-align: center;
  color: #bdecff;
  font-size: 2.5em;
}

.form .error{
  color: rgb(219, 1, 1);
  text-align: center;
  font-size: 1.3em;
}

.form .field {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  border-radius: 10px;
  padding: .5em;
  border: none;
  outline: none;
  color: #000217;
  background-color: #bdecff;
  position: relative;
  margin-bottom: 20px;
}

.form .field .toggle-password {
  position: absolute;
  left: 4%;
  top: 38%;
  cursor: pointer;
}

.form .field .input-icon {
  height: 1.3em;
  width: 1.3em;
}

.form .field .input-field {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  font-size: 1.2em;
}

.form .field .input-field::placeholder {
  color: #00021794;
}

.form .submit {
  display: block;
  width: 50%;
  padding: .7em;
  border-radius: 10px;
  margin: 2em auto 1em;
  border: none;
  outline: none;
  transition: 0.4s ease-in-out;
  background-color: #bdecff;
  color: #000217;
  cursor: pointer;
}

.form .submit:hover {
  transform: translateY(-3px);
}