.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 10px 40px;
}

.loader svg {
  margin: 0 5px;
  width: 35px;
  height: 35px;
}


.absolute {
  position: absolute;
}

.inline-block {
  display: inline-block;
}

.w-2 {
  width: 0.5em;
}

.spin {
  transform-origin: center;
}

.gradient-b,
.gradient-d,
.gradient-c {
  stroke: url(#c);
}