.table {
  --bs-table-color: #000217;
  --bs-table-bg: #71d6fe;
  margin-bottom: 2rem;
  text-align: center;
}

.table-dark {
  --bs-table-color: #bdecff;
  --bs-table-bg: #000217;
  --bs-table-border-color: #bdecff;
  --bs-table-striped-bg: #000217;
  --bs-table-striped-color: #bdecff;
  --bs-table-hover-bg: #00021782;
  --bs-table-hover-color: #bdecff;
}

.table form {
  text-align: right;
}

.table caption {
  font-size: 1.5rem;
  font-weight: bold;
  color: #000217;
}