<td scope="col">
  <%= (dataItem.from) ? dataItem.from : 'لايوجد' %>
</td>
<td scope="col">
  <%= (dataItem.to) ? ((dataItem.to === Infinity) ? 'ما لا نهاية' : dataItem.to) : 'لايوجد' %>
</td>
<td scope="col">
  <%= (dataItem.percentage) ? dataItem.percentage+"%" : 'لايوجد' %>
</td>
<td scope="col">
  <%= (dataItem.department && dataItem.department.name)? dataItem.department.name : 'لايوجد' %>
</td>