<td scope="col">
  <%= dataItem.from %>
</td>
<td scope="col">
  <%= (dataItem.to===Infinity) ? 'ما لا نهاية' : dataItem.to %>
</td>
<td scope="col">
  <%= dataItem.percentage %>%
</td>
<td scope="col">
  <%= (dataItem.department && dataItem.department.name)? dataItem.department.name : 'لايوجد' %>
</td>