<option value="quantity" <%=(sort.replace('-', '' )==="quantity" ) ? 'selected' : '' %>>كمية الإنتاج</option>
<option value="date" <%=(sort.replace('-', '' )==="date" ) ? 'selected' : '' %>>تاريخ الإنتاج</option>
