<option value="from" <%=(filters.sort.replace('-', '' )==="from" ) ? 'selected' : '' %>>من</option>
<option value="to" <%=(filters.sort.replace('-', '' )==="to" ) ? 'selected' : '' %>>إلى</option>
<option value="percentage" <%=(filters.sort.replace('-', '' )==='percentage' ) ? 'selected' : '' %>>النسبة</option>